<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>task1</title>
</head>
<body>
	<h1>Hola desde task7!!!</h1>
	<h1>Da vinci Artwork</h1>
	<div>
		<img style="width:200px; height: 200px;" src="/images/monaLisa.jpg" alt="monaLISA"/>
		<p>The mona lisa is  ahalf-length portrait painting by italian artist leonarda da vinci</p>
	</div>
	<div>
		<img style="width:200px; height:300px" src="/images/salvatorMundi.jpg" alt="salvatore"/>
		<p>the salvador mundi was  painted for KingLouis XII of France</p>
	</div>
		
	
	</body>
</html>